* {
    pointer-events: none;
}

.header {
    overflow: hidden;
    margin: 0;
    padding: 15px 0px 0px 10px;
}

.header .logo {
    width: 50px;
    height: 50px;
    float: left;
    padding-left: 20px;
}

.header a {
    float: left;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin-right: 10px;
    line-height: 40px;
    width: 200px;
    border-radius: 4px;
    pointer-events: auto;
}

.header a:hover {
    color: blue;
}

.header a.active {
    background-color: black;
    color: white;
}
.header-center {
    float: left;
    padding: 0px 35px;
}

.header-right {
    float: right;
    font-size: 25px;
    padding-right: 50px;
}

.fa-youtube {
    padding-right: 10px;
}

.fa-linkedin-in {
    padding-right: 10px;
}

.hero .img {
    float: left;
}

.profile-description {
    float: right;
    padding-right: 50px;
}

.hero .contact-button {
    float: left;
    background-color: red;
    border-radius: 4px;
    font-size: 20px;
    line-height: 30px;
    padding: 5px 10px;
    color: white;
    pointer-events: auto;
}

::selection {
    color: none;
    background: none;
}