@font-face {
    font-family: product-sans-black;
    src: url(../fonts/ProductSans-Black.ttf);
}

:root {
    --blue: #2F3C7E;
    --peach: #FBEAEB;
}

* {
    pointer-events: none;
    font-family: product-sans-black;
}

.header {
    overflow: hidden;
    margin: 0;
    padding: 15px 0px 0px 10px;
}

.header .logo {
    width: 85px;
    height: 80px;
    float: left;
    padding-left: 20px;
}

.header a {
    float: left;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin: 15px 15px 0px 0px;
    line-height: 40px;
    width: 200px;
    border-radius: 4px;
    pointer-events: auto;
}

.header a:hover {
    color: blue;
}

.header a.active {
    background-color: black;
    color: white;
}
.header-center {
    float: left;
    padding: 0px 35px;
}

.header-right {
    float: right;
    font-size: 25px;
    padding: 15px 50px 0px 0px;
}

.fa-youtube {
    padding-right: 10px;
}

.fa-linkedin-in {
    padding-right: 10px;
}

.hero {
    margin: 80px;
    display: flex;
    align-items: center;
    background-color: #FBEAEB;
}

.profile-image {
    flex: 40%;
    width: 800px;
    height: 400px;
}

.profile-description {
    flex: 60%;
    text-align: center;
}

.profile-description h1 {
    font-size: 60px;
}

.profile-description h2 {
    font-size: 25px;
}

.btn btn-primary btn-lg {
    background-color: var(--blue);
    color: var(--peach);
}

::selection {
    color: none;
    background: none;
}